#course_list ,#instructor_list{
	/*float:left;*/
	list-style:none;
	margin:0;
	padding:0;
	width:250px;
}

#course_list li,  #instructor_list li{
	padding: 10px; 
	background:#FAFAFA;
	border-bottom:#F0F0F0 1px solid;
}
#course_list li:hover, #instructor_list li:hover{
	background:#F0F0F0;
}
#course_search, #instructor_search {
	padding: 10px;
	border: #F0F0F0 1px solid;
}

.search_box , #instructor_search, #course_search{
	width: 220px;
	border: 0px;
	padding: 5px; 
	border-bottom: 2px solid gray;
}